mixin footer
    footer
            ul.bottom_ul.footer-right
                li#aboutli
                    a(href='/about') About us
                li
                    a(href='https://github.com/SoftGuys/LetsMakeUsFamous') Contact us
                li
                    a(href='https://github.com/SoftGuys/LetsMakeUsFamous/issues') Report a bug
                li
                    a(href='https://travis-ci.org/SoftGuys/LetsMakeUsFamous') Travis report
                li.watch
                    a#watch(href='https://9gag.com/gag/a0pbDeX') Watch
                li
                    a#sg © 2017 All reserved reserved under SoftGuys
    script(src='/dist/js/common/watch.js')
