mixin footer
    footer
            ul.bottom_ul.col-sm-offset-3
                li#aboutli
                    a(href='/about') About us
                li
                    a(href='https://github.com/SoftGuys/LetsMakeUsFamous') Contact us
                li
                    a(href='https://github.com/SoftGuys/LetsMakeUsFamous/issues') Report a bug
                if context.isAuthenticated && context.user.isAdmin
                    li
                        a(href='https://travis-ci.org/SoftGuys/LetsMakeUsFamous') Travis report
                li.watch
                    a#watch(href='#') Watch
                li
                    a#sg(href='#') © 2017 All reserved reserved under SoftGuys
    script(src='/dist/js/common/watch.js')
