footer.copyright.navbar-fixed-bottom.col-sm-12
    p © 2017 - All Rights with SoftGuys
        ul.bottom_ul.footer-right
            li#aboutli
                a(href='https://www.youtube.com/watch?v=MylS1ycLtW4') About us
            li
                a(href='https://github.com/SoftGuys/LetsMakeUsFamous') Contact us
            li
                a(href='https://9gag.com/gag/a0pbDeX') Unit Tests