footer.copyright.navbar-fixed-bottom.col-sm-offset-2.col-sm-8
    p © 2016 - All Rights with SoftGuys   
        ul.bottom_ul
            li
                a(href='#') About us
            li
                a(href='#') Contact us
            li
                a(href='https://9gag.com/gag/a0pbDeX') Unit Tests