footer.copyright.navbar-fixed-bottom
    .container
        .col-md-6
            p © 2016 - All Rights with SoftGuys
        .col-md-6
            ul.bottom_ul
                li
                    a(href='#') About us
                li
                    a(href='#') Contact us
                li
                    a(href='#') Unit Tests