head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', ntnt='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Bulgaria Attractions
    // Bootstrap Core CSS
    link(href='/libs/bootstrap/dist/css/bootstrap.css' rel='stylesheet')
    // Custom CSS
    link(href='/static/css/navigation-styles.css' rel='stylesheet')
    link(href='/static/css/footer.css' rel='stylesheet')