mixin nav
    nav.navbar.navbar-inverse.navbar-static-top(role='navigation')
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                img.navbar-brand#logo(src='/static/images/logo.png')
                ul.nav.navbar-nav.navbar-left
                    li
                        a.navbar-brand(href='/home') Home
                        a.navbar-brand(href='/destinations') Destinations
                        a.navbar-brand(href='/users') Users

                //Check if Logged MyProfile and Logout,Else Rest
                ul.nav.navbar-nav.navbar-right
                    if result.isAuthenticated
                        li
                            a(href='/profile')
                                span.glyphicon.glyphicon-user
                                |   MyProfile
                        li
                            a(href='/logout')
                                span.glyphicon.glyphicon-log-out
                                |   Logout
                    else
                        li
                            a(href='/register')
                                span.glyphicon.glyphicon-user
                                |  Sign Up
                        li
                            a(href='/login')
                                span.glyphicon.glyphicon-log-in
                                |  Login