mixin nav
  nav.navbar.navbar-inverse.navbar-static-top
    .container-fluid
      .navbar-header
        img.navbar-brand(href='/' src='/static/images/logo.png')
      ul.nav.navbar-nav
        li#go
          a(href='/home')
            span.glyphicon.glyphicon-home
            |  Home
        li
          a(href='/destinations')
            span.glyphicon.glyphicon-leaf
            |  Destinations
        li
          a(href='/users')
            span.glyphicon.glyphicon-book
            |  Users
        if context.isAuthenticated && context.user.isAdmin
            li
                a.nav#Admin(href='/admin') ADMIN: #{context.user.username}
      ul.nav.navbar-nav.navbar-right
            if !context.isAuthenticated
                li
                    a(href='/users/register')
                        span.glyphicon.glyphicon-user
                            |  Register
                li
                     a(href='/users/login')
                        span.glyphicon.glyphicon-log-in
                            |  Login
            else
                li
                    a(href='/users/profile')
                        img.img-responsive.thumbnail.navbar-brand.small-pic(src=context.user.pictureUrl)
                li
                    a(href='/users/profile')
                            | #{context.user.username}

                li.dropdown#alert-dropdown
                    a.dropdown-toggle.notification-dropdown(data-toggle='dropdown' href='#')
                        span.glyphicon.glyphicon-pushpin.notification
                        if context.user.notifications.length
                            span.glyphicon.glyphicon-exclamation-sign.notification-alert.text-danger
                        else
                            span.glyphicon.glyphicon-exclamation-sign.notification-alert.text-danger.hidden
                    ul.dropdown-menu#alerts
                        li#no-alert.btn No alerts!
                        each alert in context.user.notifications
                            li.btn.alert #{alert}
               
                li.dropdown
                    a.dropdown-toggle(data-toggle='dropdown', href='#')
                        | Profile
                        span.caret
                    ul.dropdown-menu#profileMenu
                        li
                            a.glyphicon.glyphicon-cog(href='/users/profile')   Profile
                        li
                            a.glyphicon.glyphicon-hand-right(href='/users/'+ context.user.username)                                             MyLandmarks
                        li
                            a.glyphicon.glyphicon-off(href='/users/logout')    Logout
