mixin nav
  nav.navbar.navbar-inverse.navbar-static-top
    .container-fluid
      .navbar-header
        img.navbar-brand(href='/' src='/static/images/logo.png')
      ul.nav.navbar-nav
        li#go
          a(href='/home')
            span.glyphicon.glyphicon-home
            |  Home
        li
          a(href='/destinations')
            span.glyphicon.glyphicon-leaf
            |  Destinations
        li
          a(href='/users')
            span.glyphicon.glyphicon-book
            |  Users
      ul.nav.navbar-nav.navbar-right
            if !isAuthenticated
                li
                    a(href='/register')
                        span.glyphicon.glyphicon-user
                            |  Register
                li
                     a(href='/login')
                        span.glyphicon.glyphicon-log-in
                            |  Login
            else
                li
                    a
                        span.glyphicon.glyphicon-user
                            | #{user.username}
                //img.mini-profile-image(src= result.imageUrl)
                li
                    a(href='/profile')
                        span.glyphicon.glyphicon-cog
                            | Profile
                li
                    a(href='/logout')
                        span.glyphicon.glyphicon-off
                            |  Logout
    script(src='/static/js/home.js')
