html(lang='en')
    link(href='/static/css/about.css' rel='stylesheet')
    link(href='/libs/bootstrap/dist/css/bootstrap.css' rel='stylesheet')
    .section
        .container
            .row
                .col-md-12
                    h1.text-center.text-primary SoftGuys
                    p.text-center We are a group of skilled individuals
            .row
                .col-md-4
                    img.img-quadrata.center-block(src='/static/images/authors/b.jpg')
                    h3.text-center
                        | Bobislav Borisov
                        br
                        small  C# developer
                .col-md-4
                    img.img-quadrata.center-block(src='/static/images/authors/v.jpg')
                    h3.text-center
                        | Vladimir Voev
                        br
                        small  Full Stack developer
                .col-md-4
                    img.img-quadrata.center-block(src='/static/images/authors/r.jpg')
                    h3.text-center
                        | Rosen Urkov
                        br
                        small  Front-End developer


