html(lang='en')
    link(href='/dist/all.css' rel='stylesheet')
    link(href='/libs/bootstrap/dist/css/bootstrap.css' rel='stylesheet')
body
    .section
        .container
            .row
                .col-md-12
                    h1.text-center.text-primary.about-header
                        |   SoftGuys
                    p.text-center.about-description
                        |   We are a group of skilled individuals
            .row
                .col-md-4
                    img.about-image.center-block(src='/static/images/authors/b.jpg')
                    h3.text-center
                        |   Bobislav Borisov
                        br
                        small.about-contributors
                            |   C# developer
                .col-md-4
                    img.about-image.center-block(src='/static/images/authors/v.jpg')
                    h3.text-center
                        |   Vladimir Voev
                        br
                        small.about-contributors
                            |   Full Stack developer
                .col-md-4
                    img.about-image.center-block(src='/static/images/authors/r.jpg')
                    h3.text-center
                        |   Rosen Urkov
                        br
                        small.about-contributors
                            |   Front-End developer