extends master

block content
    if dev
        iframe#myVideoHome.center(width="854" height="480" src="https://www.youtube.com/embed/bWd6vNaAGYI?data=highres&autoplay=1")
    else
        iframe#myVideoHome.center(width='854' height='480' src='https://www.youtube.com/embed/YhxEBGbcvJ4?data=highres&autoplay=1')        