extends master

block content
    script(src='/static/js/watch.js')
    #jumbo.jumbotron
        h1 Bulgaria's National Tourist Sites
        p.motivation
            | Set goals that scare you and excite you at the same time
        p.destinationsPara
            a.btn.btn-primary.btn-lg#explore(href="/destinations")
    video(loop autoplay)
             source(src="/static/videos/home.webm" type="video/webm")
    +footer