extends master

block content
    main.container
        .jumbotron
            h1 Bulgaria's National Tourist Sites
            p
                | Some motivational stuff here :)
            p
                a.btn.btn-primary.btn-lg(href="/destinations") Explore sites
    //- video(loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video")
    //-     source(src="/static/videos/home-background-video-hd.webm" type="video/webm")