doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', ntnt='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')
        title Bulgaria Attractions
        // Bootstrap Core CSS
        link(rel='stylesheet' href='/libs/bootstrap/dist/css/bootstrap.css')
        // Custom CSS
        link(href='/static/css/navigation-styles.css' rel='stylesheet')
        link(href='/static/css/footer.css' rel='stylesheet')

    body
        // Navigation
        nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
            .container
                // Brand and toggle get grouped for better mobile display
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    img.navbar-brand#logo(src='/static/images/logo.png')
                    ul.nav.navbar-nav.navbar-left
                        li
                            a.navbar-brand(href='/home') Home
                            a.navbar-brand(href='/destinations') Destinations
                            a.navbar-brand(href='/users') Users

                    //Check if Logged MyProfile and Logout,Else Rest
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='/profile')
                                span.glyphicon.glyphicon-user
                                |   MyProfile
                        li
                            a(href='/logout')
                                span.glyphicon.glyphicon-log-out
                                |   Logout
                        li
                            a(href='/register')
                                span.glyphicon.glyphicon-user
                                |  Sign Up
                        li
                            a(href='/login')
                                span.glyphicon.glyphicon-log-in
                                |  Login
        // Collect the nav links, forms, and other content for toggling
        .bg
    block content



     //footer
    .copyright
        .container
            .col-md-6
                p © 2016 - All Rights with SoftGuys
            .col-md-6
                ul.bottom_ul
                    li
                        a(href='#') About us
                    li
                        a(href='#') Contact us
                    li
                        a(href='#') Unit Tests






