include includes/nav.pug
include includes/footer.pug

html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', ntnt='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title
            |   Bulgaria Attractions
        link(rel="icon" href="http://www.photonstorm.com/wp-content/uploads/2011/09/step4.gif" type="image/x-icon")
        link(href='/libs/bootstrap/dist/css/bootstrap.css' rel='stylesheet')
        link(rel="stylesheet", href="/libs/toastr/build/toastr.min.css")
        link(rel="stylesheet", href="/libs/jquery-ui-dist/jquery-ui.min.css")

        link(href='/static/css/main.css' rel='stylesheet')
        link(href='/static/css/modal.css' rel='stylesheet')
        link(href='/static/css/messages.css' rel='stylesheet')

        script(src='/libs/jquery/dist/jquery.min.js')
        script(src='/libs/bootstrap/dist/js/bootstrap.min.js')
        script(src='/libs/jquery-ui-dist/jquery-ui.min.js')
        script(src="/libs/toastr/build/toastr.min.js")
        script(src='/libs/moment/min/moment.min.js')
        script(src="/socket.io/socket.io.js")

        script(src='/static/js/requests/requester.js')
        script(src='/static/js/profile.js')
        script(src='/static/js/editProfile.js')
        // script(src='/static/js/watch.js')
        // script(src='/static/js/cordinates.js')
        script(src="/static/js/destinations.js")
        script(src='/static/js/users.js')
        script(src='/static/js/messages.js')

    body.background
        +nav

        != toasts()
        //- div#loader

        block content