extends master

block content
    .container
        .row
            h1.col-lg-offset-2 Messages
        .row
            .col-sm-6.col-sm-offset-1
                h3 Messages
            .col-sm-3.col-sm-offset-1
                h3 Friends
        .row
            .col-sm-6.col-sm-offset-1.messages-box
                ul#messages

            .col-sm-3.col-sm-offset-1.friends-box
                ul#friends
                    each friend in context.user.friends
                        li.row.btn.btn-success.panel.pull-left
                            img.col-sm-3(src=friend.pictureUrl)
                            span.col-sm-9.friend-name #{friend.username}
        .row
            .col-sm-6.col-sm-offset-1
                form#chat.form-group
                    input#message.form-control(autocomplete='off')
                    button.btn.btn-success.col-sm-2 Send
                    
    script(src='/scripts/messages.js')
