.about-header {
    font-size: 4.5em;
}

.about-description {
    font-weight: 400;
    font-size: 3em;
}

.about-image {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.about-contributors {
    text-align: center;
    font-size: 1.5em;
    text-decoration: underline;
    color: gray;
}