h1{
    font-size:4.5em;
}

p{
    font-weight:400;
    font-size:3em;
}

.img-quadrata {
    border-radius:50%;
    width:250px;
    height:250px;
}

h3{
    font-weight:800;
    color:#f0ad4e;
    font-size:5em;
}
small{
    text-align:center;
    font-size:1.5em;
    text-decoration:underline;
    color:gray;
}
body{
    background-color: black;
}