@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer {
    background-color: #222222;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #051c1e 0%, #207cca 100%, #7db9e8 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e5799 0%, #051c1e 0%, #207cca 100%, #7db9e8 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #222222 0%, #051c1e 0%, #222222 100%, #7db9e8 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0);
    /* IE6-9 */
}

@media screen and (max-width: 1200px) {
    footer {
        display: none;
    }
}

#sg {
    text-decoration: none;
}

.copyright p {
    text-align: left;
    color: #9d9d9d;
    padding: 10px 0;
    float: left;
    margin-bottom: 0px;
}

.bottom_ul {
    list-style-type: none;
    margin-bottom: 0px;
}

.bottom_ul li {
    float: left;
    line-height: 30px;
}

.bottom_ul li:after {
    content: "/";
    color: #9d9d9d;
    font-size: 14px;
    font-family: sans-serif;
    margin-right: 8px;
    margin-left: 8px;
}

.bottom_ul li a {
    color: #9d9d9d;
    font-size: 14px;
    font-family: sans-serif;
    text-decoration: none;
}

.bottom_ul li a:hover {
    color: white;
}

.destinationsPara {
    padding: 20px;
    background-color: rgba(15, 15, 15, 0.0);
    overflow-wrap: break-word;
    -webkit-box-shadow: 0px -9px 58px 6px rgba(0, 0, 0, 0.0);
    -moz-box-shadow: 0px -9px 58px 6px rgba(0, 0, 0, 0.0);
    box-shadow: 0px -9px 58px 6px rgba(0, 0, 0, 0.0);
}

.destinationsPara a {
    padding: 20px;
    background: rgba(8, 8, 8, 0.04);
}

.destinationsPara a:hover {
    padding: 20px;
    background: rgba(8, 8, 8, 0.04);
}

.destinationsPara a:after {
    background-color: rgba(8, 8, 8, 0.04);
    content: 'Explore sites';
}

.destinationsPara a:hover:after {
    background-color: rgba(8, 8, 8, 0.04);
    content: '100 Most Famous Landmarks Around the Bulgaria';
}