#profile-picture-form,
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

iframe {
    min-width: 98%;
    min-height: 100%;
}

.background {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.center {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.background {
    /* The image used */
    background-image: url("../images/varna.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#content {
    border: 1px solid transparent;
    min-height: 100%;
}

#sound {
    color: white;
    padding-top: 30px;
}