#messages-box {
    border: 3px solid green;
    height: 50%;
    overflow-y: auto;
}

.sender {
    background-color: lightblue;
}

.recever {
    background-color: lightcoral;
}

.chat-pic {
    width: 10%;
}

#friends,
#messages {
    list-style-type: none;
}

.friend-name {
    color: black;
}

#friends-box {
    border: 3px solid green;
    height: 50%;
    overflow: auto;
}