#messages-box,
#friends-box {
    border: 3px solid green;
    height: 50%;
    overflow-y: auto;
    border-radius: 5px;
}

.box-title {
    border: 2px solid green;
    border-radius: 5px;
    background-color: rgb(183, 215, 104);
}

.recever,
.sender {
    width: 70%;
    margin-bottom: 1%;
    border-radius: 10px;
}

.no-messages {
    font-size: 1.3em;
}

.chat-pic {
    max-width: 100%;
    width: 50px;
}

#friends,
#messages {
    list-style-type: none;
}

.friend-pic {
    width: 20%;
    min-height: 99%;
    max-height: 100%;
}

.friend-name {
    color: black;
}

.friend-panel {
    border-color: green;
    height: 10%;
    width: 98%;
    display: block;
    margin: 1%;
    padding: 0.5% 1% 0.5% 1%;
}