/*GOOGLE CSS*/
#myModal{
    width: 100%;
}
#map {
    height: 80%;

}
#cordslong{
    display: none;
}
#cordslat{
    display: none;
}
.centerMarker{
    position:absolute;
    /*url of the marker*/
    background:url(http://maps.gstatic.com/mapfiles/markers2/marker.png) no-repeat;
    /*center the marker*/
    top:50%;left:50%;

    z-index:1;
    /*fix offset when needed*/
    margin-left:-10px;
    margin-top:-34px;
    /*size of the image*/
    height:34px;
    width:20px;

    cursor:pointer;
}
/* Optional: Makes the sample page fill the window. */
#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
#googleMapActivate{
    width: 100px;
    background-color: sandybrown;
    color: black;
}
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 80%;
}
#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
#cords {
    display: none;
}
#floating-panel {
    display: none;
}