/*GOOGLE CSS*/
#myModal{
    width: 100%;
}
#map {
    height: 80%;

}
#cordslong{
    display: none;
}
#cordslat{
    display: none;
}
/* Optional: Makes the sample page fill the window. */
#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
#googleMapActivate{
    width: 100px;
    background-color: sandybrown;
    color: black;
}
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 80%;
}
#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
#cords {
    display: none;
}
#floating-panel {
    display: none;
}