iframe {
    min-width: 98%;
    min-height: 100%;
}

body,
html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}


/* position exactly in the middle */

.center {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

body {
    /* The image used */
    background-image: url("../images/varna.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#content {
    border: 1px solid transparent;
    min-height: 100%;
}