extends ../master
include ../utils/pagination

block content
    .main.container
        .row
            .col-lg-12
                h1.page-header
                    | Bulgarian Destinations 
                    span.glyphicon.glyphicon-globe
        .row
        each landmark, index in context.landmarks
            if (index % 3) == 0
                .row
            else
            .col-md-4.portfolio-item.landmark 
                    a(href='/destinations/' + landmark._id)
                        if (landmark.pictureUrl)
                            img.img-responsive.thumbnail(src=landmark.pictureUrl)
                        else
                             img.img-responsive.thumbnail(src='/static/images/areas/с.Златналивада–манастир„Св.Атанасий“.jpeg')
                    h3
                        | #{landmark.title}
                    p.landmark-description
                        | #{landmark.description}
    +pagination