extends ../master
include ../utils/pagination

block content
    .main.container#destinations-container
        form#search-destination-form.form-inline(action='/destinations' method='GET')
            input.col-md-5.form-control(name='title' type='text' placeholder='Destination title' required value=context.searchValue || '')
            button.btn.btn-success(type='submit')
                span.glyphicon.glyphicon-search
        h1.page-header
            |  Bulgarian Destinations 
            span.glyphicon.glyphicon-globe
        .row
        each landmark, index in context.landmarks
            if (index % 3) == 0
                .row
            else
            .col-md-4.portfolio-item.landmark 
                    a(href='/destinations/' + landmark._id)
                        img.img-responsive.thumbnail(src=landmark.pictureUrl)
                    if (landmark.isVisited)
                            img(id="badge" src="/static/images/complete.png")
                    h3
                        | #{landmark.title}
                    p.landmark-description
                        | #{landmark.description}
    +pagination