extends ../master
include ../utils/pagination

block content
    .main.container#destinations-container
        .row
            h1.page-header.col-sm-8
                |  Bulgarian Destinations 
                span.glyphicon.glyphicon-globe
            .col-sm-4
                form#search-destination-form.input-group(action='/destinations' method='GET')
                    input#landmarks-search.form-control(name='title' type='text' placeholder='Destination title' required value=context.searchValue || '')
                    span.input-group-btn
                        button.btn.btn-success(type='submit')
                            span.glyphicon.glyphicon-search.button-glyph        
        .row
        each landmark, index in context.landmarks
            if (index % 3) == 0
                .row
            else
            .col-md-4.portfolio-item.landmark
                    a(href='/destinations/' + landmark._id)
                        img.img-responsive.thumbnail(src=landmark.pictureUrl)
                        if (landmark.isVisited)
                            img(id="badge" src="/static/images/complete.png")
                        h3
                            | #{landmark.title}
                        p.landmark-description
                            | #{landmark.description}
    +pagination