extends master

block header
    h1
        |   Login form

block wrapper
    form(action='/users/login' method='post')#login.animate.form
        h1
            |   Login up
        p
            label.uname(for='username')
                |   Your username

            input#usernamesignup.log-input(name='username', required='required', type='text', placeholder='mysuperusername690')
        p
            label.youpasswd(for='password')
                |   Your password
                
            input#passwordsignup.log-input(name='password', required='required', type='password', placeholder='eg. X8df!90EO')
        p
            input.btn.btn-info#loginToTheSite.log-input(type='submit', value='Login')
        a.btn-danger.p.back.button(href='/')
            input.btn-danger.p.back.button.log-input(type='submit', value='Back')