extends master

block header
    h1
        |   Registration form

block wrapper
    form(action='/users/register' method='post')#login.animate.form
        h1
            |   Sign up
        p
            label.uname(for='username')
                |   Your username

            input#usernamesignup(name='username', required='required', type='text', placeholder='mysuperusername690' title="Give the best of your originality")
        p
            label.youmail(for='email')
                |   Your email

            input#emailsignup(name='email', required='required', type='email', placeholder='mysupermail@mail.com' title="Let the spam begin!")
        p
            label.youpasswd(for='password')
                |   Your password

            input#passwordsignup(name='password', required='required', type='password', placeholder='eg. X8df!90EO' title="Don't use 'password' please..")
        p
            label.youpasswd(for='password_confirm')
                |   Please confirm your password
            input#passwordsignup_confirm(name='password_confirm', required='required', type='password', placeholder='eg. X8df!90EO' title="Ctrl + C - Ctrl + V")
        p
            input.btn.btn-info#signUp(type='submit', value='Sign up')
        a.btn-danger.p.back.button(href='/')
            input.btn-danger.p.back.button(type='submit', value='Back')
        p.change_link
            |   Already a member ?
            
            a.to_register(href='/users/login')
                |   Go and log in