mixin pagination
    div.text-center
        ul.pagination.pagination-lg
            if (context.pagination.currentPage > 1)
                li
                    a(href='/' + context.pageLink + '?page=' + (context.pagination.currentPage - 1)) «
            each page in context.pagination.pages
                if (page == context.pagination.currentPage)
                    li.active
                        a(href='/' + context.pageLink + '?page=' + (page))
                            | #{page}
                else
                    li
                        a(href='/' + context.pageLink + '?page=' + (page))
                            | #{page}
            if (context.pagination.currentPage < context.pagination.lastPage)
                li
                    a(href='/' + context.pageLink + '?page=' + (context.pagination.currentPage + 1)) »
