mixin pagination
    div.text-center
        ul.pagination.pagination-lg
            if (model.currentPage - 1 > 0)
                li
                    a(href='/destinations?page=' + (model.currentPage - 1)) «
            each page in model.pages
                if (page == model.currentPage)
                    li.active
                        a(href='/destinations?page=' + page)
                            | #{page}
                else
                    li
                        a(href='/destinations?page=' + page)
                            | #{page}
            li
                a(href='/destinations?page=' + (model.currentPage + 1)) »